@model IsThisGeekAlive.ViewModels.GeeksIndexViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            The geek installs a monitor application on their PC. The application periodically tells this website that the geek is logged in.
            When a person using this website checks for the geek, it checks the last activity time of the geek and then calculates whether
            the geek activity is in the "recently", "warning" or "danger" period.
        </p>

        <p>
            The geek sets the intervals by themselves but by default...
        </p>

        <ul>
            <li>The "recently" period is less than 36 hours</li>
            <li>The "concern" period is between 36 hours and 96 hours</li>
            <li>The "danger" period is after 96 hours</li>
        </ul>

        <p>
            For privacy reasons, as long as the user has logged into his computer "recently", their last activity time is not shown.
        </p>       
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <b>IMPORTANT NOTE</b>
        </p>

        <p>
            The monitor application only works properly when the geek is...
        </p>

        <ul>
            <li type="1">Logged into his computer and</li>
            <li type="1">Running the monitor application and</li>
            <li type="1">Has internet access</li>
        </ul>

        <p>
            So no activity does not necessarily mean that anything is actually wrong with the person, despite the exaggerated name of the website.
        </p>
    </div>
</div>