@model IsThisGeekAlive.ViewModels.GeeksIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Is This Geek Alive?</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">
        <p>
            @Model.Message
        </p>
    </div>
}

<form asp-controller="Geeks" asp-action="Search" method="post" class="form-inline">
    <label asp-for="Geek.Username" class="control-label"></label>
    <input asp-for="Geek.Username" class="form-control" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>
    <span asp-validation-for="Geek.Username" class="text-danger"></span>
</p>


@if (Model.Geek.DoesGeekExist)
{
    @Html.Partial("_GeekDetails")
}

<hr />

<button id="howDoesThisWorkBtn" class="btn btn-default">How Does This Work?</button>
<button id="manualLoginBtn" class="btn btn-default">Manual Login</button>

<br />

<br />

<div id="howDoesThisWorkDiv" class="buttonDivs" style="display:none">
    @Html.Partial("_HowDoesThisWork", Model)
</div>

<div id="manualLoginDiv" class="buttonDivs" style="display:none">
    @Html.Partial("_ManualLogin", Model)
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}