<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IsThisGeekAliveMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IsThisGeekAliveMonitor.Properties.Settings>
            <setting name="IsThisGeekAliveApiUrl" serializeAs="String">
                <value>http://isthisgeekalive.astoundingapplications.com/api</value>
            </setting>
            <setting name="GeekUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotAliveWarningWindow" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="NotAliveDangerWindow" serializeAs="String">
                <value>72</value>
            </setting>
        </IsThisGeekAliveMonitor.Properties.Settings>
    </userSettings>
</configuration>